* {
    margin: 0;
    padding: 0;
    cursor: default;
    overflow: hidden;
}

html {
    height: 100%;
    background-color: #f9f9f9;
}

body {
    height: 100%;
    background: url("/resources/images/main-background.jpg") no-repeat;

    -moz-background-size: 1135px auto;
    -webkit-background-size: 1135px auto;
    -o-background-size: 1135px auto;
    background-size: 1135px auto;

    font-size: 31px;
    font-family: "Open Sans", "Lucida Grande", "Helvetica Neue", Helvetica, Arial, sans-serif;
    letter-spacing: -0.5px;
}

input:focus {
    outline-width: 0;
}

/* PC media */
@media (max-width: 750px) {
    body {
        background: url("/resources/images/main-background.jpg") no-repeat center fixed;
    }
}

@media (max-height: 682px) {
    body {
        -moz-background-size: 1135px 683px;
        -webkit-background-size: 1135px 683px;
        -o-background-size: 1135px 683px;
        background-size: 1135px 683px;
    }
}

@media (min-height: 700px) {
    body {
        -moz-background-size: cover;
        -webkit-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
    }
}

/* Body of the whole form */
.auth-form {
    margin: 0 auto;
    width: 330px;
    height: auto;
    padding-top: 100px;
    position: absolute;
    right: 10%;
}

/* Params for header's and footer's block */
.auth-unit {
    width: 100%;
    height: 35px;
}

/* Main label */
.auth-header {
    width: 100%;
    height: 53px;
    color: #5b5b5b;
    text-align: center;
}

/* Error block */
.auth-error {
    background-color: #5b5b5b;
    padding-top: 15px;
    text-align: center;
}

/* Error message */
.auth-error-message {
    font-size: 17px;
    color: #FFFFFF;
}

/* The body of form */
.auth-body {
    margin-top: 10px;
    width: 100%;
    height: auto;
    background-color: rgba(245, 245, 245, 0.75);
}

/* Fields block */
.auth-input-fields {
    padding-top: 10px;
    padding-bottom: 10px;
    margin-left: 35px;
}

/* Field label */
.auth-label {
    color: #626262;
    font-size: 15px;
    letter-spacing: 0;
}

/* The field of form */
.auth-field {
    height: 33px;
    border: none;
}

/* The text field of form */
.auth-text {
    width: 248px;
    background-color: #ffffff;
    padding-left: 12px;
}

/* The button field of form */
.auth-button {
    width: 260px;
    margin-top: 25px;
    margin-bottom: 15px;
    background-color: #eaeaea;
}

/* The footer of form */
.auth-footer {
    margin-top: 10px;
    color: #5b5b5b;
    font-size: 15px;
    padding-top: 16px;
    text-align: center;
    background-color: rgba(245, 245, 245, 0.75);
}

/* Footer link */
.auth-link {
    text-decoration: none;
    color: black;
}

/* Small desktops media */
@media (max-width: 1200px) {
    .auth-form {
        position: inherit;
    }
}

/* Mobile media */
@media (max-width: 416px), (max-height: 545px) {
    body {
        background: none;
    }

    .auth-form {
        padding-top: 35px;
    }

    .auth-body {
        background-color: rgba(245, 245, 245, 1);
    }

    .auth-footer {
        background-color: rgba(245, 245, 245, 1);
    }
}

